div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html.gr__frenzel_localhomesearch_net body {
	font-size: 1.5rem;
}
.search-divider {
	width: 100%;
	height: 5px;
	float: left;
	background-color: $color-gold;
}
.dfv2-power {
	text-align: center;
}
.wrapper:before,.wrapper:after,
.clear:before, .clear:after { content: " "; display: table; }
.wrapper, .clear { *zoom: 1; clear: both; }
.wrapper {
	box-sizing: border-box;
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0px;
	}
}
.med-wrapper {
	max-width: 900px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}
.text-center {text-align:center;}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo-wrapper {
	width: 150px;
	float: left;
	position: relative;
	z-index: 20;
	top: 3px;
	@media screen and (min-width: $tabwidth) {
		width: 23%;
		top: 0;
	}
}
.logo {
	display: block;
	float: left;
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 195px;
	}
	a {
		display: block;
		text-decoration: none;
	}
	img {
		width: 100%;
		height: auto;
	}
}
h1.logo {
	font-size: 20px;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
}
.site-header {
	position: relative;
	z-index: 100;
}
.site-header .wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-align-content(center);
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.site-footer {
	width: 100%;
	color: #FFF;
	background: $color-gold;
	.wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.row {
		text-align: center;
		margin-left: -20px;
		margin-right: -20px;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-align-content(center);
			@include flexbox-align-items(center);
		}
	}
	a {
		color: #FFF;
		font-size: 13px;
		text-decoration: none;
		@include transition(all ease-out .3s);
		&:hover {
			opacity: 0.5;
		}
	}
	.footcol {
		display: inline-block;
		line-height: 1.2;
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px;
		margin: 10px 0;
		@media screen and (min-width: $tabwidth) {
			margin: 0 0;
		}
		&.contact {
			@media screen and (min-width: $tabwidth) {
				text-align: left;
				width: 45%;
			}
		}
	}
	.footer-links {
		.menu {
			display: inline-block;
		}
		.menu li ul {
			display: none;
		}
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
		}
		li {
			display: inline-block;
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				float: left;
				width: auto;
			}
		}
		a {
			display: inline-block;
			padding: 3px 15px;
			@media screen and (min-width: $tabwidth) {
				padding: 0 15px;
			}
		}
	}
	.social {
		text-align: center;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			text-align: right;
			width: 60%;
		}
		@media screen and (min-width: $midwidth) {
			width: 45%;
		}
		a {
			display: inline-block;
			font-size: 30px;
			margin-left: 20px;
		}
		a:first-child {
			margin-left: 0;
		}
	}
}
.cantarell {
	font-family: $font-heading;
}
.buttondiv a {
	@include transition(all ease-out .3s);
}