.main-navigation {
	position: absolute;
	@media screen and (min-width: $tabwidth) {
		width: 76%;
		float: left;
		position: relative;
	}
	.main-menu-wrapper {
		display: none;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			border-top: 1px solid $color-gold;
			border-bottom: 1px solid $color-gold;
			padding-left: 20px;
			padding-right: 20px;
			width: 85%;
    		float: right;
		}
		@media screen and (min-width: $midwidth) {
			padding-left: 35px;
			padding-right: 35px;
			width: auto;
			float: none;
		}
		@media screen and (min-width: $deskwidth) {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.menu a {
		font-family: $font-heading;
		font-size: 15px;
		display: block;
		color: $color-gold;
		text-transform: uppercase;
		text-decoration: none;
		@include transition(all ease-out .3s);
	}

	.menu > li {
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			float: left;
			margin-right: 2px;
		}
	}
	.menu > li > a {
		background: transparent;
		padding: 5px 23px;
		@media screen and (min-width: $tabwidth) {
			font-size: 14px;
			padding: 5px 15px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 5px 23px;
			font-size: 15px;
		}
	}
	.menu > li > a:hover,
	.menu > li.current_page_item:hover > a,
	.menu > li.current_page_item > a {
		background: $color-light-grey;
	}
}

