.banner-wrapper {
	position: relative;
	@include transition(all ease-out .3s);
	img {
		width: 100%;
		height: auto;
		position: relative;
	}
	&.home-banner {
		height: 350px;
		@media screen and (min-width: $tabwidth) {
			height: 400px;
		}
		@media screen and (min-width: $midwidth) {
			height: 600px;
		}
	}
	&.subpage-banner {
		height: 160px;
		border-bottom: 3px solid #FFF;
		@media screen and (min-width: $tabwidth) {
			height: 180px;
		}
		@media screen and (min-width: $midwidth) {
			height: 220px;
		}
	}
}
.banner-image {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner-caption {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	color: #FFF;
	padding: 15px 20px;
    box-sizing: border-box;
    font-family: $font-heading;
	.tagline {
		position: relative;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.2;
		z-index: 5;
		font-size: 25px;
		@media screen and (min-width: $tabwidth) {
			font-size: 32px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 38px;
		}
	}
	&.home-banner {
		&:before,
		&:after {
			content: "";
			display: block;
			width: 50%;
			height: 100%;
			position: absolute;
			top: 0;
		}
		&:before {
			left: 0;
			background: -moz-linear-gradient(left, rgba(185,178,153,0) 0%, rgba(185,178,153,1) 50%, rgba(185,178,153,1) 100%);
			background: -webkit-linear-gradient(left, rgba(185,178,153,0) 0%,rgba(185,178,153,1) 50%,rgba(185,178,153,1) 100%);
			background: linear-gradient(to right, rgba(185,178,153,0) 0%,rgba(185,178,153,1) 50%,rgba(185,178,153,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b9b299', endColorstr='#b9b299',GradientType=1 );
		}
		&:after {
			right: 0;
			background: -moz-linear-gradient(left, rgba(185,178,153,1) 0%, rgba(185,178,153,1) 50%, rgba(185,178,153,0) 100%);
			background: -webkit-linear-gradient(left, rgba(185,178,153,1) 0%,rgba(185,178,153,1) 50%,rgba(185,178,153,0) 100%);
			background: linear-gradient(to right, rgba(185,178,153,1) 0%,rgba(185,178,153,1) 50%,rgba(185,178,153,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b299', endColorstr='#00b9b299',GradientType=1 );
		}
	}
	&.subpage-banner {
		height: 100%;
	}
	.titlediv {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
	.page-title {
		margin: 0 0;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 35px;
		text-transform: uppercase;
		text-shadow: 0px 1px 5px rgba(0, 0, 0, .6);
		@media screen and (min-width: $tabwidth) {
			font-size: 40px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 50px;
		}
	}
}
.quick-search {
	color: #FFF;
	border-top: 3px solid #FFF;
	border-bottom: 3px solid #FFF;
	background: rgb(105,106,108);
	background: -moz-linear-gradient(top, rgba(105,106,108,1) 0%, rgba(73,73,75,1) 100%);
	background: -webkit-linear-gradient(top, rgba(105,106,108,1) 0%,rgba(73,73,75,1) 100%);
	background: linear-gradient(to bottom, rgba(105,106,108,1) 0%,rgba(73,73,75,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696a6c', endColorstr='#49494b',GradientType=0 );
	.wrapper {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.form-title {
		margin: 0 0;
		font-size: 25px;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.quick-search-form {
	margin-top: 30px;
	label {
		display: block;
		width: 100%;
		margin: 0 0 5px;
		font-weight: 300;
		font-size: 14px;
	}
	input {
		width: 100%;
		border-radius: 0;
		@media screen and (min-width: $tabwidth) {
			width: auto;
		}
	}
	input.qsearch {
		box-shadow: none;
		text-shadow: none;
		border-radius: 0;
		background-color: $color-gold;
		color: #fff;
		padding: 15px 30px;
		line-height: 1;
	}
	.form-fields {
		margin-left: -12px;
		margin-right: -12px;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(nowrap);
			@include flexbox-direction(row);
			@include flexbox-align-content(center);
			@include flexbox-justify(center);
		}
	}
	.form-group {
		width: 100%;
		box-sizing: border-box;
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 20px;
		@media screen and (min-width: $tabwidth) {
			// width: 49.5%;
			width: auto;
		}
		@media screen and (min-width: $midwidth) {
			// width: 24.5%;
			margin-bottom: 0;
		}
	}
	.form-control {
		display: block;
		width: 100%;
		border-radius: 0px;
		border: none;
		text-shadow: none;
		box-shadow: none;
		height: 35px;
		line-height: 35px;
		margin: 0 0;
	}
	.select2-container {
		width: 100%!important;
	}
	.select2-container--default .select2-selection--single {
		border-radius: 0px;
		border: none;
		height: 35px;
		line-height: 1.2;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 35px;
	}
	.select2-container--default {

		.select2-selection--single .select2-selection__arrow {
			height: 33px;
			position: absolute;
			display: inline-block;
			width: 30px;
			height: 100%;
			top: 0;
			right: 0;
			background: #dcd8cc;
			&:before, &:after {
				content:"";
				display: inline-block;
				width: 12px;
				height: 2px;
				background: #868684;
				position: absolute;
				top: 18px;
			}
			&:before {
				left: 5px;
				transform: rotate(45deg);
			}
			&:after {
				right: 5px;
				transform: rotate(-45deg);
			}
		}

		&.select2-container--open {
			.select2-selection--single .select2-selection__arrow {
				&:before {
					transform: rotate(-45deg);
				}
				&:after {
					transform: rotate(45deg);
				}
			}
		}
		
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		display: none;
	}

	.select2-container--default .select2-selection--single .select2-selection__clear {
		position: absolute;
		right: 30px;
		z-index: 10;
		font-size: 22px;
		color: #828282;
		background: #FFF;
		width: 28px;
		text-align: center;
	}
}

.section-title {
	font-family: $font-heading;
	font-weight: 600;
	font-size: 25px;
	line-height: 1.2;
	text-transform: uppercase;
	@media screen and (min-width: $tabwidth) {
		font-size: 18px;
	}
	@media screen and (min-width: $midwidth) {
		font-size: 25px;
	}
}

.home-contents {
	.row {
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-content(flex-start);
		}
	}
	.col {
		box-sizing: border-box;
		float: left;
		color: #FFF;
		position: relative;
	}
	.col.left {
		background: $color-gold;
		color: #FFF;
		@media screen and (min-width: $tabwidth) {
			width: 35%;
		}
	}
	.col.right {
		@media screen and (min-width: $tabwidth) {
			width: 65%;
		}
	}
	.inside {
		padding: 30px 20px;
		position: relative;
		z-index: 8;
		@media screen and (min-width: $tabwidth) {
			padding: 30px 20px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 30px;
		}
	}
	.bg-image {
		background-color: #838385;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-filter: grayscale(100%);
  		filter: grayscale(100%);
	}
	.bg-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.85;
		background: rgb(128,131,132);
		background: -moz-linear-gradient(top, rgba(128,131,132,1) 0%, rgba(14,17,17,1) 99%);
		background: -webkit-linear-gradient(top, rgba(128,131,132,1) 0%,rgba(14,17,17,1) 99%);
		background: linear-gradient(to bottom, rgba(128,131,132,1) 0%,rgba(14,17,17,1) 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808384', endColorstr='#0e1111',GradientType=0 );
	}
	.section-title {
		color: #FFF;
		margin: 0 0 40px;
	}
	.section-text {
		font-size: 18px;
    	line-height: 1.6;
	}
	.section-text p {
		margin-top: 0;
		margin-bottom: 15px;
	}
	.buttondiv {
		a {
			color: #e4dcc1;
			text-decoration: underline;
			font-size: 14px;
			&:hover {
				color: #fffae9;
			}
		}
	}
	.about-us .section-text,
	.about-us .buttondiv {
		font-size: 16px;
		padding-left: 0;
    	padding-right: 0;
    	@media screen and (min-width: $tabwidth) {
    		padding-left: 0;
    		padding-right: 0;
    		font-size: 20px;
    	}
    	@media screen and (min-width: $midwidth) {
    		font-size: 25px;
    		padding-left: 40px;
    		padding-right: 40px;
    	}
	}
	.about-us .buttondiv {
		line-height: 1;
	}
}

.featured-property-list {
	box-sizing: border-box;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 20px;
	.row {
		margin-left: -2%;
		margin-right: -2%;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-content(flex-start);
		}
	}
	.featcol {
		width: 100%;
		box-sizing: border-box;
		color: #FFF;
		padding-left: 2%;
		padding-right: 2%;
		float: left;
		margin-bottom: 30px;
		@media screen and (min-width: $midwidth) {
			width: 32.99%;
			margin-bottom: 0;
		}
	}
	.featcol img {
		width: 100%;
		height: auto;
		float: left;
		@include transition(all ease .3s);
	}
	.featinside {
		box-sizing: border-box;
		background: $color-gold;
		padding: 6px 6px 15px;
		height: 100%;
		-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.36);
		-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.36);
		box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.36);
	}
	.pplink {
		display: block;
		width: 100%;
		overflow: hidden;
		float: left;
		border: 1px solid #FFF;
		&:hover img {
			transform: scale(1.1);
		}
	}
	.titlediv {
		margin: 10px 0 10px;
		line-height: 1.3;
	}
	.info {
		line-height: 1.2;
	}
	.property_data {
		font-style: italic;
		font-weight: 300;
		font-size: 13px;
		-webkit-font-smoothing: antialiased;
		line-height: 1.5;
	}
	.separator {
		display: inline-block;
		margin: 0 5px;
	}
}
.section {
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}

.section-instagram {
	padding-left: 30px;
	padding-right: 30px;
	@media screen and (min-width: $tabwidth) {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-content(flex-start);
		}
	}
	.col {
		box-sizing: border-box;
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			margin-bottom: 0;
		}
	}
	.col.left {
		@media screen and (min-width: $tabwidth) {
			width: 35%;
			@include flexbox();
			@include flexbox-justify(center);
			@include flexbox-align-items(center);
		}
	}
	.col.right {
		@media screen and (min-width: $tabwidth) {
			width: 65%;
			padding-right: 20px;
		}
		@media screen and (min-width: $midwidth) {
			padding-right: 45px;
		}
	}
	.insta-wrap {
		max-width: 240px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	.insta-title h2 {
		color: $color__text-main;
		margin: 0 0 10px;
	}
	.insta-icon {
		width: 100%;
		position: relative;
		margin: 0 auto;
		@media screen and (min-width: $tabwidth) {
			width: 80%;
		}
		@media screen and (min-width: $midwidth) {
			width: 100%;
		}
	}
	.insta-icon span {
		display: inline-block;
	}
	.icon-box {
		display: inline-block;
		position: relative;
		z-index: 5;
		background: #FFF;
		padding: 0 20px;
		text-decoration: none;
		outline: none;
	}
	.insta-icon .icon {
		color: $color-gold;
		font-size: 42px;
	}
	.insta-icon .line {
		width: 100%;
		height: 3px;
		background: $color-gold;
		position: absolute;
  		top: 50%;
  		transform: translateY(-50%);
  		left: 0;
	}
}
#instagram_feeds {
	margin-left: 0;
	margin-right: 0;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-align-content(flex-start);
		margin-left: -1.5%;
		margin-right: -1.5%;
	}
	@media screen and (min-width: $deskwidth) {
		margin-left: -4%;
		margin-right: -4%;
	}
	.instaCol {
		box-sizing: border-box;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
    	margin-bottom: 30px;
    	border-bottom: 1px solid $color-gold;
		@media screen and (min-width: $tabwidth) {
			width: 33%;
			border-right: 1px solid $color-gold;
			border-bottom: none;
			padding-bottom: 0;
    		margin-bottom: 0;
    		padding-left: 2%;
			padding-right: 2%;
		}
		@media screen and (min-width: $deskwidth) {
			padding-left: 4%;
			padding-right: 4%;
		}
	}
	.instaCol:last-child {
		border-right: none;
		border-bottom: none;
		padding-bottom: 0;
    	margin-bottom: 0;
	}
	.instagram-image-div {
		height: 100%;
	}
	img {
		height: auto;
	}
	.insta-image-thumb {
		display: block;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}
	.instalink, img {
		width: 100%;
		float: left;
	}
	.ithumb {
		visibility: hidden;
	}
	.instalink {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		outline: none;
		text-decoration: none;
	}
	.caption {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background: rgba(167,160,136,.9);
		color: #FFF;
		opacity: 0;
		visibility: hidden;
		@include transition(all ease-out .3s);
		.txtwrap {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			box-sizing: border-box;
			padding: 20px 30px;
			margin-top: 10px;
			line-height: 1.4;
    		font-size: 12px;
			@include transition(all ease-out .3s);
		}
	}
	.instalink:hover .caption {
		opacity: 1;
		visibility: visible;
		.txtwrap {
			margin-top: 0;
		}
	}
}

.gradient_gold {
	color: #FFF;
	background: #b6af94;
	background: -moz-linear-gradient(top, #b6af94 0%, #9b916e 100%);
	background: -webkit-linear-gradient(top, #b6af94 0%,#9b916e 100%);
	background: linear-gradient(to bottom, #b6af94 0%,#9b916e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6af94', endColorstr='#9b916e',GradientType=0 );
}

.maintext {
	font-size: 18px;
	line-height: 1.6;
	padding-top: 30px;
	padding-bottom: 30px;
}

.staff-section {
	padding-top: 40px;
	padding-bottom: 40px;
	@media screen and (min-width: $tabwidth) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.col-left {
		margin-bottom: 30px;
		@media screen and (min-width: $tabwidth) {
			width: 29%;
			float: left;
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
	.col-right {
		@media screen and (min-width: $tabwidth) {
			width: 67%;
			float: right;
		}
	}
	.photo img {
		width: 100%;
		height: auto;
		float: left;
	}
	.name {
		margin: 0 0 10px;
		font-family: $font-heading;
		font-weight: 300;
		font-size: 25px;
		line-height: 1.2;
		color: $color-gold;
		text-transform: uppercase;
		@media screen and (min-width: $tabwidth) {
			font-size: 30px;
		}
	}
	p {
		margin-top: 0;
		margin-bottom: 1.3em;
	}
	.licenses {
		border-top: 1px solid $color-gold;
		padding-top: 8px;
		margin-top: 8px;
	}
	.licenses .title {
		font-family: $font-heading;
		background: $color-gold;
		color: #FFF;
		padding: 8px 15px;
		line-height: 1.2;
	}
	.list {
		background: $color-grey;
		padding: 15px 15px;
		color: #FFF;
	}
	.list .item {
		margin-top: 13px;
		line-height: 1.25;
		font-size: 12px;
		&.first {
			margin-top: 0;
		}
	}
	.staff {
		padding-top: 70px;
		margin-top: 50px;
		position: relative;
		.line {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: 1px solid $color-gold;
			span {
				display: block;
				width: 100%;
				height: 30px;
				position: absolute;
				bottom: -14px;
				left: 0;
				text-align: center;
			}
			.symbol {
				display: inline-block;
				width: 32px;
				height: 32px;
				background: url("images/symbol.png") center no-repeat;
				background-size: contain;
				background-color: #FFF;
				border-right: 3px solid #FFF;
				border-left: 3px solid #FFF;
			}
		}
	}
	.staff.first {
		padding-top: 0;
		margin-top: 0;
		.line {
			display: none;
		}
	}
}

.default-template {
	.site-main {
		padding-top: 40px;
		padding-bottom: 40px;
		min-height: 30em;
		@media screen and (min-width: $tabwidth) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	&.no_banner {
		.site-main {
			padding-top: 20px;
		}
		.entry-title {
			font-family: $font-heading;
			font-weight: 600;
			font-size: 30px;
			text-transform: uppercase;
			margin-top: 0;
		}
	}
}
.entry-content {
	a {
		color: $color-gold;
		text-decoration: none;
		@include transition(all ease-out .3s);	
		&:hover {
			opacity: 0.45;
		}	
	}
	p {
		margin-top: 0;
		margin-bottom: 1.3em;
	}
}

.page-link-list {
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		&.linklist {
			margin-left: 15px;
		}
	}
	li {
		position: relative;
		padding-left: 13px;
		ul {
			margin-left: 10px;
		}
		&:before {
			content: "";
			display: block;
			width: 5px;
			height: 5px;
			background: $color-grey;
			position: absolute;
			top: 9px;
			left: 0;
		}
	}
}

.davis-farrell {
	font-size:0px;
	color: transparent;
	line-height: 1;
	h3,
	.idxclear {
		display: none;
	}
	#idx {
		margin-left: -10px;
		margin-right: -10px;
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-wrap(wrap);
			@include flexbox-direction(row);
			@include flexbox-align-content(flex-start);
		}
	}
	.idxprop {
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 25px;
		color: #FFF;
		font-size: 14px;
		width: 100%;
		font-style: italic;
		font-size: 13px;
		font-weight: 300;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			float: left;
		}
		@media screen and (min-width: $midwidth) {
			width: 25%;
			margin-bottom: 20px;
		}
		b {
			font-weight: 300;
		}
		small {
			display: block;
			margin-top: 5px;
		}
		.inner {
			box-sizing: border-box;
			padding: 5px 5px 10px 5px;
			height: 100%;
			background: $color-gold;
		}
		.price {
			display: inline-block;
			width: 100%;
			font-weight: 600;
			margin-bottom: 6px;
		}
	}
	.idxphoto2 {
		width: 100%;
		margin: 0 0 10px;
		padding: 0 0;
		float: none;
		height: auto!important;
		a {
			display: block;
			width: 100%;
		}
		img {
			max-width: 100%!important;
			width: 100%!important;
			height: auto!important;
			border: 1px solid rgba(254,255,255,.8);
		}
	}
	.dfres-col50 {
		position: relative;
		@media screen and (min-width: $tabwidth) {
			.btn-xs.btn-primary {
				position: absolute;
				right: 10px;
				top: -25px;
			}
		}
	}
	#idxmap_canvas {
		@media screen and (min-width: $tabwidth) {
			height: 290px!important;
			margin-top: -15px;
		}
		@media screen and (min-width: $deskwidth) {
			height: 330px!important;
		}
	}
	.wp-font p {
		color: #FFF;
		line-height: 1.5;
	}
	.dfres-subhead {
		color: $color-gold;
	}
	table td {
		color: #FFF;
		border-bottom: 1px solid rgba(255,255,255,.25);
	}
	.dfres-address-detail,
	.dfres-subdivision-detail,
	.dfres-price-detail {
		color: #FFF;
		margin-bottom: 8px!important;
		display: none!important;
	}
	.dfres-col {
		width: 100%;
		float: left;
		padding: 0 0;
		margin-left: -5px;
		margin-right: -5px;
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@media screen and (min-width: $tabwidth) {
			padding-left: 10px;
		}
		.dfres-subhead {
			display: block;
			width: 100%;
			float: left;
			margin-bottom: 10px;
			padding-left: 5px;
		}
		.form-control {
			border-radius: 0px;
			&#verif {
				margin-top: 10px;
			}
		}
		&.well {
			display: block;
			margin-left: 0;
			margin-right: 0;
			box-sizing: border-box;
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				margin-left: 10px;
				width: 97.5%;
			}
			.dfres-subhead {
				color: $color-grey;
				font-weight: 500;
				padding-left: 10px;
			}
			.form-group {
				color: $color-grey;
				line-height: 1.3;
				.btn-default {
					padding: 6px 20px;
					text-transform: uppercase;
				}
			}
			.form-control {
				width: 100%;
			}
		}
		
		.dfv3-picTH {
			padding: 0 0;
			box-sizing: border-box;
			width: 50%;
			float: left;
			@media screen and (min-width: $tabwidth) {
				width: 33%;
			}
			@media screen and (min-width: $midwidth) {
				width: 20%;
			}
			a {
				display: block;
				width: 100%;
				float: left;
				padding: 4px;
			}
			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}
	}
}

.idx-property-name {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 10px;
	@media screen and (min-width: $tabwidth) {
		padding-left: 10px;
	}
	.idx-dfres-address-detail {
		font-size: 23px;
	}
	.idx-dfres-subdivision-detail {
		font-size: 15px;
	}
}

.error404content {
	.entry-title {
		margin-bottom: 0;
	}
}
